*.dll
.*.swp
*.dylib
*.exe
*.exe~
*.out
*.pem
*.so
*.test
.DS_Store
.env
.env.development.local
.env.production.local
.env.test.local
.idea/
.idea/
.next/
.pnp.js
.run/Run Local Stack.run.xml
.terraform/
.vercel
.vscode/
/.next/
/.pnp
/build
/coverage
/out/
deploy/chart/*/*.tgz
deploy/chart/*/charts
deploy/chart/charts
deploy/chart/charts
infrastructure/.terraform.lock.hcl
infrastructure/.terraform/*
infrastructure/errored.tfstate
node_modules/
npm-debug.log*
sandboxctl.bin
src/.env.local
tmp/*
yarn-debug.log*
yarn-error.log*
yarn.lock
.idea/*
